
script(src='/scripts/newsfeed_adminpanel.js')

div#newpost
  div#pseudopost
    p New Post
    textarea#postinput(name="newinput", cols="45", rows="6", maxlength="255", placeholder="Write post here")
    p 
      button(onclick="submitPost()") Submit Post
div#anewsfeed
  - const numposts = posts.length 
  - var i = numposts - 1
  while i >= 0
    if posts[i].active
      div.post(id=posts[i].id+"p")
        p.text= posts[i].posttext
        p.time= 'Posted at ' + posts[i].timecode
        p.newsfeed_controls
          button(class="post_edit" id=posts[i].id, onclick="beginEdit(this.id)") Edit Post
          button(class="post_delete red" id=posts[i].id, onclick="deletePost(this.id)") Delete Post
    - i--