script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script. 
  const phaseData = !{sphases};
  const gameStructure = !{sstruct};
  const timerTurn0 = !{(timer_turn0 === "true")};
script(src='/scripts/timer.js')
div#timer_module
  div.clock_block
    div.cturn
      span Current Turn: 
      span#current_turn 0
    div.cphase
      span Current Phase: 
      br
      span#current_phase x
    div#time

  div#timer_phases
    table
      tbody#phaselist
        tr 
          th Phase 
          th Duration
        - i = -1
        each x in phases
          if x.minor == false
            tr(id='row'+x.id, class='gid'+x.gid, style=(`display:${i > 0 ? "none" : "table-row"}`))
              td
                span(id='phase'+x.id)= x.phase
              td
                span(id='duration'+x.id)= x.duration + " mins"
            - i++
          if x.minor == true 
            tr(id='row'+x.id, class='gid'+x.gid, style=(`display:${i > 0 ? "none" : "table-row"};visibility:collapse;`))
              td
                span(id='phase'+x.id)= x.phase
              td
                span(id='duration'+x.id)= x.duration + " mins"
            - i++          
div(style="display: flex;")
  each cue in audio_cues
    -let formatted_cue_name = cue.name.replace(/ /g,"_")
    audio(id=formatted_cue_name +"_audio")
      source(src=cue.url, type="audio/mpeg")
    div(id="audio_test" onclick=`testAudio("${formatted_cue_name}_audio")`)
      span(class="material-symbols-outlined") music_note
