table 
  - var count = (preferences.timer_turn0==="true") ? -1 : 0
      tbody#roundlist 
        tr.head
         th 
         th Round Type
        if is_running 
          each y in structure
            - count ++
            tr 
              td=count
              td 
                select(id="round"+y.id, name="round"+y.id, disabled)
                  each round in rounds
                    if y.round_id == round.id
                      option(value=round.id selected)=round.round_name
                    else
                      option(value=round.id)=round.round_name
        else 
          each y in structure 
            - count ++
            tr 
              td.num=count  
              td.name
                select(id="round"+y.id, name="round"+y.id, onchange="updateGameRound(event)")
                  each round in rounds
                    if y.round_id == round.id
                      option(value=round.id selected)=round.round_name
                    else
                      option(value=round.id)=round.round_name