script. 
  const phaseData = !{sphases};
  const roundData = !{srounds};
  const runningData = {is_running: !{is_running}, is_paused: !{is_paused}};
script(src='/scripts/timer_editor.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')

div(style={'flex-basis': '600px'})
  div#timer_controller
    #timer_controller_buttons
      #left_panel
        if !is_running
          button.controller#playpause_timer(status="stopped") ▶
        else if is_running && !is_paused
          button.controller#playpause_timer(status="running") ⏸
        else if is_running && is_paused
          button.controller#playpause_timer(status="paused") ▶
      #right_panel 
        button.controller#skip_timer Skip to Next Phase
        button.controller#resetphase_timer Reset Current Phase
        button.controller.red#reset_timer Stop and Reset to Start 
    #timer_status=(is_running) ? (is_paused) ? "Paused" : "Running" : "Stopped"
  div#timer_editor
    div
      div#timer_editor_gamestructure
      div#timer_editor_control
            button#add_round_row(class="material-symbols-outlined blue") add
            button#delete_round__row(class="material-symbols-outlined red" onClick="deleteRoundRow()") remove    
    hr
    div#phaseflex
      div#round_types
        div.ctext Select a Round Type to Edit: 
        div#round_selectors
          each round in rounds 
            div.paddedbtn(id="sdiv"+round.id)
              button(id="select"+round.id, onClick="changeRound(event)")=round.round_name
        div#addremove_rounds.paddedbtn
          button(class="material-symbols-outlined blue" id="new_round_type", onClick="newRound()") add_box
          button(class="material-symbols-outlined red" id="rm_round_type", onClick="rmRound()") delete
      div 
        div#round_editor
        div#timer_editor_control
          button#add_row(class="material-symbols-outlined blue" onclick="addRow()") add
          button#delete_row(class="material-symbols-outlined red" onClick="deleteRow()") remove
